* {
  accent1:          #cdd6f4;
  accent2:          #cdd6f4;
  button-gradient:  linear-gradient(90, #cdd6f4, #cdd6f4);
  background-alpha: #313244f7;
  background:       #313244;
  background-light: #45475a;
  background-focus: #585b70;
  foreground:       #cdd6f4;
  foreground-list:  #cdd6f4;
  on:               #a6e3a1;
  off:              #f38ba8;
  urgent:           #fab387;
}
